In [1]:
import pandas as pd
import statsmodels
import pingouin

In [2]:
file_path='clean_parent.csv'
sheet_name='clean_parent'

In [3]:
data = pd.read_csv(file_path)

In [4]:
data

,Unnamed: 0,No,uniq_no,sex,brith,school,age,학년,carelessness_1,carelessness_2,...,hyper_teach,hyper_friend,hyper_perform,hyper_academic,hyper_act,hyper_confi,ia,hi,adhd,age_group
0,0,1,64,남,2017-09-30,드림아이유치원,5.0,5,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5-7
1,1,2,69,여,2017-01-14,드림아이유치원,6.0,5,0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,7.0,12.0,5-7
2,2,3,37,여,2017-08-28,드림아이유치원,5.0,5,0,1.0,...,1.0,2.0,0.0,2.0,2.0,1.0,4.0,1.0,5.0,5-7
3,3,4,2,남,2017-07-17,드림아이유치원,6.0,5,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5-7
4,4,5,27,남,2017-11-24,드림아이유치원,5.0,5,1,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,8.0,8.0,16.0,5-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,632,633,476,여,2009-12-08,대방중,13.0,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,11-13
631,633,634,477,여,2009-12-30,대방중,13.0,2,1,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,9.0,11-13
632,634,635,483,여,2009-06-20,대방중,14.0,2,0,0.0,...,2.0,2.0,0.0,1.0,3.0,3.0,0.0,1.0,1.0,14-15
633,635,636,484,여,2009-06-11,대방중,14.0,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14-15
634,636,637,488,여,2009-07-11,대방중,14.0,2,1,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,6.0,4.0,10.0,14-15

In [5]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [6]:
data['sex'] = data['sex'].astype('category')
data['age'] = data['age'].astype('category')

In [7]:
data

,Unnamed: 0,No,uniq_no,sex,brith,school,age,학년,carelessness_1,carelessness_2,...,hyper_teach,hyper_friend,hyper_perform,hyper_academic,hyper_act,hyper_confi,ia,hi,adhd,age_group
0,0,1,64,남,2017-09-30,드림아이유치원,5.0,5,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5-7
1,1,2,69,여,2017-01-14,드림아이유치원,6.0,5,0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,7.0,12.0,5-7
2,2,3,37,여,2017-08-28,드림아이유치원,5.0,5,0,1.0,...,1.0,2.0,0.0,2.0,2.0,1.0,4.0,1.0,5.0,5-7
3,3,4,2,남,2017-07-17,드림아이유치원,6.0,5,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5-7
4,4,5,27,남,2017-11-24,드림아이유치원,5.0,5,1,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,8.0,8.0,16.0,5-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,632,633,476,여,2009-12-08,대방중,13.0,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,11-13
631,633,634,477,여,2009-12-30,대방중,13.0,2,1,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,9.0,11-13
632,634,635,483,여,2009-06-20,대방중,14.0,2,0,0.0,...,2.0,2.0,0.0,1.0,3.0,3.0,0.0,1.0,1.0,14-15
633,635,636,484,여,2009-06-11,대방중,14.0,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14-15
634,636,637,488,여,2009-07-11,대방중,14.0,2,1,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,6.0,4.0,10.0,14-15

In [8]:
data.columns

Index(['Unnamed: 0', 'No', 'uniq_no', 'sex', 'brith', 'school', 'age', '학년',
       'carelessness_1', 'carelessness_2', 'carelessness_3', 'carelessness_4',
       'carelessness_5', 'carelessness_6', 'carelessness_7', 'carelessness_8',
       'carelessness_9', 'care_teach', 'care_friend', 'care_perform',
       'care_academic', 'care_act', 'care_confi', 'hyperactivity_1',
       'hyperactivity_2', 'hyperactivity_3', 'hyperactivity_4',
       'hyperactivity_5', 'hyperactivity_6', 'hyperactivity_7',
       'hyperactivity_8', 'hyperactivity_9', 'hyper_teach', 'hyper_friend',
       'hyper_perform', 'hyper_academic', 'hyper_act', 'hyper_confi', 'ia',
       'hi', 'adhd', 'age_group'],
      dtype='object')

In [9]:
# 1) OLS 모형 적합 (연령, 성별, 상호작용 포함)
model = smf.ols('adhd ~ C(age) * C(sex)', data=data).fit()

# 2) Type II ANOVA 실행
aov = anova_lm(model, typ=2)
print(aov)

                     sum_sq     df          F        PR(>F)
C(age)          6888.617260   12.0  15.365415  1.297710e-26
C(sex)           798.005203    1.0  21.359900  4.646131e-06
C(age):C(sex)    259.407946   12.0   0.578623  8.602025e-01
Residual       22826.940792  611.0        NaN           NaN

c:\ProgramData\anaconda3\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 12, but rank is 11
  warnings.warn('covariance of constraints does not have full '

In [10]:
# 3) 오차 제곱합 & 자유도
SS_error = aov.loc['Residual','sum_sq']
df_error = aov.loc['Residual','df']
MS_error = SS_error/df_error

results = {}
for eff in ['C(age)', 'C(sex)', 'C(age):C(sex)']:
    SS_eff = aov.loc[eff, 'sum_sq']
    df_eff = aov.loc[eff, 'df']
    
    # 부분 η²
    eta_p2 = SS_eff / (SS_eff + SS_error)
    
    # 오메가²
    omega2 = (SS_eff - df_eff*MS_error) / (SS_eff + SS_error + MS_error)
    
    # Cohen's f (G*Power 입력용)
    f = np.sqrt(eta_p2/(1-eta_p2))
    
    results[eff] = {"eta_p2": round(eta_p2,3),
                    "omega2": round(omega2,3),
                    "Cohen_f": round(f,3)}

print(results)

{'C(age)': {'eta_p2': np.float64(0.232), 'omega2': np.float64(0.216), 'Cohen_f': np.float64(0.549)}, 'C(sex)': {'eta_p2': np.float64(0.034), 'omega2': np.float64(0.032), 'Cohen_f': np.float64(0.187)}, 'C(age):C(sex)': {'eta_p2': np.float64(0.011), 'omega2': np.float64(-0.008), 'Cohen_f': np.float64(0.107)}}

In [11]:
file_path='clean_teach.csv'
sheet_name='clean_teach'

In [12]:
data = pd.read_csv(file_path)

In [13]:
data

,Unnamed: 0,No,uniq_no,sex,brith,school,age,grade,carelessness_1,carelessness_2,...,hyper_teach,hyper_friend,hyper_perform,hyper_academic,hyper_act,hyper_confi,ia,hi,adhd,age_group
0,0,1,64,남,2017-09-30 00:00:00,드림아이유치원,5.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5-7
1,1,2,69,여,2017-01-14 00:00:00,드림아이유치원,6.0,5,0.0,1,...,0.0,1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,5-7
2,2,3,37,여,2017-08-28 00:00:00,드림아이유치원,5.0,5,0.0,1,...,0.0,0,0.0,0.0,0.0,0.0,9.0,0.0,9.0,5-7
3,3,4,2,남,2017-07-17 00:00:00,드림아이유치원,6.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5-7
4,4,5,27,남,2017-11-24 00:00:00,드림아이유치원,5.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,5-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,632,633,476,여,2009-12-08 00:00:00,대방중,13.0,2,2.0,1,...,2.0,2,2.0,2.0,2.0,2.0,7.0,0.0,7.0,11-13
628,633,634,477,여,2009-12-30 00:00:00,대방중,13.0,2,1.0,2,...,2.0,2,2.0,2.0,2.0,2.0,10.0,0.0,10.0,11-13
629,634,635,483,여,2009-06-20 00:00:00,대방중,14.0,2,0.0,0,...,2.0,2,2.0,2.0,2.0,3.0,0.0,1.0,1.0,14-15
630,635,636,484,여,2009-06-11 00:00:00,대방중,14.0,2,1.0,1,...,1.0,0,1.0,1.0,2.0,2.0,12.0,0.0,12.0,14-15
631,636,637,488,여,2009-07-11 00:00:00,대방중,14.0,2,2.0,2,...,2.0,2,2.0,2.0,2.0,2.0,17.0,9.0,26.0,14-15

In [14]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [15]:
data['sex'] = data['sex'].astype('category')
data['age'] = data['age'].astype('category')

In [16]:
data

,Unnamed: 0,No,uniq_no,sex,brith,school,age,grade,carelessness_1,carelessness_2,...,hyper_teach,hyper_friend,hyper_perform,hyper_academic,hyper_act,hyper_confi,ia,hi,adhd,age_group
0,0,1,64,남,2017-09-30 00:00:00,드림아이유치원,5.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5-7
1,1,2,69,여,2017-01-14 00:00:00,드림아이유치원,6.0,5,0.0,1,...,0.0,1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,5-7
2,2,3,37,여,2017-08-28 00:00:00,드림아이유치원,5.0,5,0.0,1,...,0.0,0,0.0,0.0,0.0,0.0,9.0,0.0,9.0,5-7
3,3,4,2,남,2017-07-17 00:00:00,드림아이유치원,6.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5-7
4,4,5,27,남,2017-11-24 00:00:00,드림아이유치원,5.0,5,0.0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,5-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,632,633,476,여,2009-12-08 00:00:00,대방중,13.0,2,2.0,1,...,2.0,2,2.0,2.0,2.0,2.0,7.0,0.0,7.0,11-13
628,633,634,477,여,2009-12-30 00:00:00,대방중,13.0,2,1.0,2,...,2.0,2,2.0,2.0,2.0,2.0,10.0,0.0,10.0,11-13
629,634,635,483,여,2009-06-20 00:00:00,대방중,14.0,2,0.0,0,...,2.0,2,2.0,2.0,2.0,3.0,0.0,1.0,1.0,14-15
630,635,636,484,여,2009-06-11 00:00:00,대방중,14.0,2,1.0,1,...,1.0,0,1.0,1.0,2.0,2.0,12.0,0.0,12.0,14-15
631,636,637,488,여,2009-07-11 00:00:00,대방중,14.0,2,2.0,2,...,2.0,2,2.0,2.0,2.0,2.0,17.0,9.0,26.0,14-15

In [17]:
data.columns

Index(['Unnamed: 0', 'No', 'uniq_no', 'sex', 'brith', 'school', 'age', 'grade',
       'carelessness_1', 'carelessness_2', 'carelessness_3', 'carelessness_4',
       'carelessness_5', 'carelessness_6', 'carelessness_7', 'carelessness_8',
       'carelessness_9', 'care_teach', 'care_friend', 'care_perform',
       'care_academic', 'care_act', 'care_confi', 'hyperactivity_1',
       'hyperactivity_2', 'hyperactivity_3', 'hyperactivity_4',
       'hyperactivity_5', 'hyperactivity_6', 'hyperactivity_7',
       'hyperactivity_8', 'hyperactivity_9', 'hyper_teach', 'hyper_friend',
       'hyper_perform', 'hyper_academic', 'hyper_act', 'hyper_confi', 'ia',
       'hi', 'adhd', 'age_group'],
      dtype='object')

In [18]:
# 1) OLS 모형 적합 (연령, 성별, 상호작용 포함)
model = smf.ols('adhd ~ C(age) * C(sex)', data=data).fit()

# 2) Type II ANOVA 실행
aov = anova_lm(model, typ=2)
print(aov)

                     sum_sq     df          F        PR(>F)
C(age)          1739.682196   10.0   2.836546  1.868501e-03
C(sex)          2792.955680    1.0  45.539048  3.485023e-11
C(age):C(sex)   1169.205193   10.0   1.906385  4.162201e-02
Residual       37411.914235  610.0        NaN           NaN

In [19]:
# 3) 오차 제곱합 & 자유도
SS_error = aov.loc['Residual','sum_sq']
df_error = aov.loc['Residual','df']
MS_error = SS_error/df_error

results = {}
for eff in ['C(age)', 'C(sex)', 'C(age):C(sex)']:
    SS_eff = aov.loc[eff, 'sum_sq']
    df_eff = aov.loc[eff, 'df']
    
    # 부분 η²
    eta_p2 = SS_eff / (SS_eff + SS_error)
    
    # 오메가²
    omega2 = (SS_eff - df_eff*MS_error) / (SS_eff + SS_error + MS_error)
    
    # Cohen's f (G*Power 입력용)
    f = np.sqrt(eta_p2/(1-eta_p2))
    
    results[eff] = {"eta_p2": round(eta_p2,3),
                    "omega2": round(omega2,3),
                    "Cohen_f": round(f,3)}

print(results)

{'C(age)': {'eta_p2': np.float64(0.044), 'omega2': np.float64(0.029), 'Cohen_f': np.float64(0.216)}, 'C(sex)': {'eta_p2': np.float64(0.069), 'omega2': np.float64(0.068), 'Cohen_f': np.float64(0.273)}, 'C(age):C(sex)': {'eta_p2': np.float64(0.03), 'omega2': np.float64(0.014), 'Cohen_f': np.float64(0.177)}}