In [1]:
import pandas as pd
import statsmodels

In [2]:
import sys
!{sys.executable} -m pip install pingouin

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pingouin in c:\users\user\appdata\roaming\python\python313\site-packages (0.5.5)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from pingouin) (3.10.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from pingouin) (2.1.3)
Requirement already satisfied: pandas>=1.5 in c:\programdata\anaconda3\lib\site-packages (from pingouin) (2.2.3)
Requirement already satisfied: pandas-flavor in c:\users\user\appdata\roaming\python\python313\site-packages (from pingouin) (0.7.0)
Requirement already satisfied: scikit-learn>=1.2 in c:\programdata\anaconda3\lib\site-packages (from pingouin) (1.6.1)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from pingouin) (1.15.3)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (from pingouin) (0.13.2)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from pingouin) (0.14.4)
Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (from pingouin) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.5->pingouin) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.5->pingouin) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.5->pingouin) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5->pingouin) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.2->pingouin) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.2->pingouin) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (24.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pingouin) (3.2.0)
Requirement already satisfied: xarray in c:\programdata\anaconda3\lib\site-packages (from pandas-flavor->pingouin) (2025.4.0)
Requirement already satisfied: patsy>=0.5.6 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->pingouin) (1.0.1)

In [3]:
import pingouin

In [4]:
file_path='240327_실행기능 규준 재분석(14-15 연령 묶음).xlsx'
sheet_name='표집 데이터'

In [5]:
data = pd.read_excel(file_path, sheet_name=sheet_name)

In [6]:
data

,만나이,성별,TMT1_완성시간,TMT1_완성시간(s),TMT1_완성시간_반올림,TMT1_숫자순서오류,TMT1_색순서오류,TMT1_촉진수,TMT2_완성시간,TMT2_완성시간(s),TMT2_완성시간_반올림,TMT2_숫자순서오류,TMT2_색순서오류,TMT2_촉진수,비율간섭,차이간섭
0,5,남,71709,71.709,72,0,0,2,108072.0,108.072,108,0,0,4,0.507091,36.363
1,5,여,66414,66.414,66,0,0,1,155569.0,155.569,156,2,2,7,1.342413,89.155
2,5,남,64973,64.973,65,0,0,1,86003.0,86.003,86,0,0,2,0.323673,21.030
3,5,여,99079,99.079,99,1,0,3,130836.0,130.836,131,0,0,6,0.320522,31.757
4,5,여,44010,44.010,44,0,0,0,113038.0,113.038,113,3,7,3,1.568462,69.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,8,여,20100,20.100,20,0,0,0,44100.0,44.100,44,0,2,0,1.194030,24.000
524,5,여,31900,31.900,32,0,0,0,95200.0,95.200,95,1,3,3,1.984326,63.300
525,11,여,14200,14.200,14,0,0,0,29100.0,29.100,29,1,1,0,1.049296,14.900
526,5,여,43700,43.700,44,0,0,0,65400.0,65.400,65,0,1,1,0.496568,21.700
527,9,남,14600,14.600,15,0,0,0,35100.0,35.100,35,0,0,0,1.404110,20.500

In [7]:
data.columns = ['age', 'sex', 'tmt1_time', 'tmt1_time(s)', 'tmt1_time(s)_round', 'tmt1_num_error', 'tmt1_color_error', 'tmt1_promotion',
                'tmt2_time', 'tmt2_time(s)', 'tmt2_time(s)_round', 'tmt2_num_error', 'tmt2_color_error', 'tmt2_promotion', 'ratio', 'differ']

In [8]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [10]:
data['age'] = data['age'].astype('category')

In [11]:
data

,age,sex,tmt1_time,tmt1_time(s),tmt1_time(s)_round,tmt1_num_error,tmt1_color_error,tmt1_promotion,tmt2_time,tmt2_time(s),tmt2_time(s)_round,tmt2_num_error,tmt2_color_error,tmt2_promotion,ratio,differ
0,5,남,71709,71.709,72,0,0,2,108072.0,108.072,108,0,0,4,0.507091,36.363
1,5,여,66414,66.414,66,0,0,1,155569.0,155.569,156,2,2,7,1.342413,89.155
2,5,남,64973,64.973,65,0,0,1,86003.0,86.003,86,0,0,2,0.323673,21.030
3,5,여,99079,99.079,99,1,0,3,130836.0,130.836,131,0,0,6,0.320522,31.757
4,5,여,44010,44.010,44,0,0,0,113038.0,113.038,113,3,7,3,1.568462,69.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,8,여,20100,20.100,20,0,0,0,44100.0,44.100,44,0,2,0,1.194030,24.000
524,5,여,31900,31.900,32,0,0,0,95200.0,95.200,95,1,3,3,1.984326,63.300
525,11,여,14200,14.200,14,0,0,0,29100.0,29.100,29,1,1,0,1.049296,14.900
526,5,여,43700,43.700,44,0,0,0,65400.0,65.400,65,0,1,1,0.496568,21.700
527,9,남,14600,14.600,15,0,0,0,35100.0,35.100,35,0,0,0,1.404110,20.500

In [13]:
# 2) 연령만 포함한 OLS 적합 (one-way ANOVA)
model = smf.ols('tmt1_time ~ C(age)', data=data).fit()
aov = anova_lm(model, typ=2)   # 한 요인이므로 typ=1/2/3 큰 차이 없음
print(aov)

# 3) 제곱합/자유도 추출
SS_between = aov.loc['C(age)', 'sum_sq']
df_between = aov.loc['C(age)', 'df']
SS_within  = aov.loc['Residual', 'sum_sq']
df_within  = aov.loc['Residual', 'df']

# 4) 효과크기 계산
eta2   = SS_between / (SS_between + SS_within)          # 한 요인 ANOVA에서는 partial η² = η²
MS_within = SS_within / df_within
omega2 = (SS_between - df_between * MS_within) / (SS_between + SS_within + MS_within)  # 보수적
f      = np.sqrt(eta2 / (1 - eta2))                     # G*Power용

print({
    "eta2 (연령 주효과)": round(eta2, 3),
    "omega2": round(omega2, 3),
    "Cohen_f": round(f, 3)
})

                sum_sq     df          F         PR(>F)
C(age)    1.390985e+11    9.0  139.13873  4.373179e-132
Residual  5.753892e+10  518.0        NaN            NaN
{'eta2 (연령 주효과)': np.float64(0.707), 'omega2': np.float64(0.702), 'Cohen_f': np.float64(1.555)}

In [14]:
# 2) 연령만 포함한 OLS 적합 (one-way ANOVA)
model = smf.ols('tmt2_time ~ C(age)', data=data).fit()
aov = anova_lm(model, typ=2)   # 한 요인이므로 typ=1/2/3 큰 차이 없음
print(aov)

# 3) 제곱합/자유도 추출
SS_between = aov.loc['C(age)', 'sum_sq']
df_between = aov.loc['C(age)', 'df']
SS_within  = aov.loc['Residual', 'sum_sq']
df_within  = aov.loc['Residual', 'df']

# 4) 효과크기 계산
eta2   = SS_between / (SS_between + SS_within)          # 한 요인 ANOVA에서는 partial η² = η²
MS_within = SS_within / df_within
omega2 = (SS_between - df_between * MS_within) / (SS_between + SS_within + MS_within)  # 보수적
f      = np.sqrt(eta2 / (1 - eta2))                     # G*Power용

print({
    "eta2 (연령 주효과)": round(eta2, 3),
    "omega2": round(omega2, 3),
    "Cohen_f": round(f, 3)
})

                sum_sq     df           F         PR(>F)
C(age)    4.517740e+11    9.0  126.532066  1.116995e-124
Residual  2.054982e+11  518.0         NaN            NaN
{'eta2 (연령 주효과)': np.float64(0.687), 'omega2': np.float64(0.682), 'Cohen_f': np.float64(1.483)}